.project {
    position: relative;

    img {
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    img,
    .project-details {
        transition: opacity 0.5s ease-out;
    }

    .project-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.275rem;
        display: none;
    }

    &:hover {
        img {
            opacity: 0.1;
        }
        .project-details {
            height: 150px;
            display: flex;
            flex-direction: column;
            opacity: 1;

            .project-title {
                font-size: 2rem;
            }
            .project-stack {
                align-self: center;
                font-size: 1rem;
                color: var(--blue-300);
            }
            .project-button {
                margin-top: auto;
                font-size: 1rem;
                padding: 0.75rem;
            }
        }
    }
}
