.progress {
    height: 30px;
    width: 100%;
    background-color: var(--gray-100);
    position: relative;

    .progress-value {
        background-color: var(--blue-200);
        position: absolute;
        width: 500px;
        height: 30px;
    }

    .progress-label {
        background-color: var(--blue-300);
        position: absolute;
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .progress-percentage {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--gray-800);
    }
}
