.header {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0 5rem;
    z-index: 99999;
    background-color: var(--blue-300);
    border-bottom: 2px solid var(--blue-200);
    span {
        cursor: pointer;
        text-decoration: none;
        color: var(--gray-800);
        padding: 1rem;
        &.header-item-active, &:hover {
            color: var(--gray-100);
            font-weight: 600;
        }
    }
}

.header-sticky {
    bottom: inherit;
    left: 0;
    position: sticky;
    top: 0;
    animation: popDown 0.5s;
}

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}
