.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--gray-800);
    height: 150px;

    .footer-icons {
        display: flex;
        gap: 2rem;

        a {
            text-decoration: none;
            align-self: center;
            cursor: pointer;

            svg {
                color: var(--gray-100);
                &:hover {
                    color: var(--blue-300);
                }
            }

            .ico-in {
                font-size: 5rem;
            }

            .ico-gh {
                font-size: 4rem;
            }
        }
    }
    .footer-copyright {
        color: var(--gray-300);
    }
}
